<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>login</title>
    
</head>
<body>
    <nav>
        <div class="content">
            <div class="logo"></div>
            <div class="navlink">
                <ul>
                    <li>Accueil</li>
                    <li>Annonce</li>
                    <li>Service</li>
                    <li>Prix</li>
                    <li>Contact</li>
                    <li>connection</li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>